A:link{
font-family: Arial, Helvetica; 
font-size: 11pt;
text-decoration: none; 
color: rgb(0,255,255) 
} 

A:visited{
font-family: Arial, Helvetica; 
font-size: 11pt;
text-decoration: none; 
color: rgb(0,255,255) 
} 

A:active{
font-family: Arial, Helvetica; 
font-size: 11pt;
color: rgb(255,255,0); 
} 

A:hover{
font-family: Arial, Helvetica; 
font-size: 11pt;
text-decoration: underline
}  

.mailagf:link{
color: rgb(240,210,10);
}

.mailagf:visited{
color: rgb(240,210,10);
} 

.mailagf:hover{
color: rgb(255,255,0); 
font-weight: bold; 
font-style: normal;
}  

body{
background-image: url('/images/backmain.gif'); 
color: rgb(255,255,255); 
background-color: rgb(0,0,0);
} 

H3{
font-family: Arial, Helvetica; 
color: rgb(240,210,10);
} 

H2{
font-family: Arial, Helvetica; 
color: rgb(240,210,10);
} 

H1{
/*font-family: fantasy,monospace; */
font-family: Verdana,monospace; 
color: rgb(0,255,255); 
text-align: center;
} 

p{
font-family: Arial, Helvetica; 
font-size: 11pt; 
font-weight: normal; 
color: rgb(255,255,255);
} 

tr{
font-family: Arial, Helvetica; 
font-size: 11pt; 
font-weight: normal; 
color: rgb(255,255,255);
} 

ul{
font-family: Arial, Helvetica; 
font-size: 11pt;
font-weight: bold; 
color: rgb(255,255,255);
} 

li{
font-family: Arial, Helvetica; 
font-size: 11pt; 
font-weight: normal; 
color: rgb(255,255,255);
} 

p.designed{
font-family: Arial, Helvetica; 
font-size: 9pt;
font-style: italic; 
text-align: right; color: rgb(240,210,10);
} 

.filesize{
font-family: Arial, Helvetica; 
font-size: 11pt; color:rgb(255,0,0);
} 

.download{
list-style-image: url('blue.gif');
} 

.txt{
font-family: Arial, Helvetica; 
font-size: 11pt; 
font-weight: normal; 
color: rgb(255,255,255);
} 

.sign{
font-family: Arial, Helvetica; color: rgb(240,210,10); 
font-size: 9pt;
font-weight:bold;
} 